/*Commenting method in CSS is the same for html*/
/*CSS Selector*/
/*ctrl+/*/
/*
	You can enter multiple properties inside the selector
*/
/*
	CSS Styling Prioritization
		inline styling > internal styling > external styling
*/

/*	!important - property used in CSS to override the CSS Priority rule. It makes the property to which it is attached a priority over any other conflicting style (regardless if it's internal or inline)
	- if conflicting styles are trying to modify the same element with the us of !important, CSS Style Prio rule will take effect
 */

h1{
	color: red !important;
	background-color: pink;
}

/*
	* - universal selector; used to target all elements inside the html tag

	font-family - changes the style of the font
		Courier New - is the font that is to be used by the webpage to display the texts
		monospace - the family from which the browser will try to search for a font once the Courier New is not available

	font-size - changes the font size
		20px - value in which the size of the text will be 20pixels

*/


*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*id selector*/
/*id selector - this is commonly used to provide unique styling for an element*/
/*#idName*/
/*
	letter-spacing - used to change the spaces in between the characters of the text
*/
#zuitt-motto{
	letter-spacing: 5px;
	font-size: 50px;
}
/*
	CSS Specificity
		in terms of selectors, "id" has the highest priority over other selectors and universal selector has the lowest
*/

	/*h3{
		letter-spacing: 25px;
	}
*/

/*CLASS SELECTOR*/
/*
	use class selector to style the li in the index.html and make its text uppercase. Use text-transform property

	text-transform - used to change casing of text

	"."+"tag"{
	attributes
	}
*/
.offering-item{
	text-transform: uppercase;
}

/*ATTRIBUTE SELECTOR
	will only work if the element has the exact attribute that is specified in the selector (case sensitive)
SYNTAX: ;
	tag[attribute]
*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*COMBINATION SELECTORS*/
/*these selectors require two selectors but the target is the latter/second selector*/

/*ADJACENT SIBLING SELECTOR*/
/*selector that is used to target the selector that is next to the first selector*/
/*1st selector is the location/point of reference*/
/*
	SYNTAX	
		firstSelector + secondSelector {
	
		}

*/

/*
	in combination selectors, we are not restricted to use uniform/one tag for both.
	the firstSelector can be class/id/tag, while the secondSelector can a different selector

	i.e id + img, tag + class
*/

/*
	border-radius = defines the ciruclar border radius as x pixels
*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;

}

/*DESCENDANT SELECTOR
		used to select elements(secondSelector) that are inside other elements(firstSelector)
		SYNTAX
			firstSeletor secondSelector{
	
			}
*/
/*hexadecimal value of colors can be used to specify target color*/

#bootcamp-learning-list li {
	color: #075966;
}


/*
GENERAL SIBLING SELECTOR
	used to target the preceeding siblings(secondSelector) of the firstSelector
*/


h2 ~ a{
	text-decoration: none;
}

/*
CHILD SELECTOR
	SYNTAX
		firstSelector>secondSelector{
	
		}
*/

body>section>form>label{
	/*rgb values for Red, Green and Blue, 0-255*/
	color: rgb(0,0,128);
}

body{
	background-color: skyblue;
}

html{
	scroll-behavior: smooth;
}

/*NAVIGATION*/

nav{
	background-color: white;
}

/*pseudo element/selector*/
/*this a:  hover will change the element when the curser hovers over it*/
a:hover{
	background-color: #b3d6de;
}

div{
	display: inline-block;
}

/*landing section*/
section{
	/*vh - viewport height; the browser will be using 100% of the screen display*/
	height: 100vh;
	text-align: center;
}

h2{
	/*rem - root element measurement; multiplies the value attached to the root element(html);
	default value would be 16px*/
	font-size: 1.5rem
}

ol{
	/*list-style-type - changes the bullet/ordering style of the elements*/
	list-style-type: none;
}

/*register section*/
/*
	position - property that changes the position of an element based on a certain criteria
	direction - recommended to use only 2 of the directions; T and B, L and R per selector
		left
		right
		top
		bottom
*/
form{
text-align: center;
background-color: white;
border: 2px solid black;	
height: 220px;
/*vw - vieport width*/
width: 25vw;
position: relative;
left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border: 15px;
}

