/*task 5*/
#external-p{
	color: #74A57F;
}

/*task 6*/
*{
	font-family: "Overpass Bold",monospace;
	font-size: 15px;
}

/*task 7*/
h1{
	font-size: 30px;
}

/*task 8*/
#bootcamp-list{
	text-transform: uppercase;
}

/*task 9*/
.language-list{
	background-color: #9ECE9A;
}

/*task 10*/
li[style]{
	border-style: solid;
	border-color: #E4c5af;
}

/*task 11*/
div + ul{
	list-style-type: none;
}

/*task 12*/
div img{
	height: 200px;
	width: 200px;
	border-radius: 150px;
}

/*task 13*/
section ~ footer {
	text-align: center;
}

/*task 14*/
ul>li{
	letter-spacing: 5px;
}